* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  color: gray;
}

ul {
  list-style: none;
}

h1 {
  color: white;
  font-size: 34px;
  font-weight: 600;
}

.notice {
  background-color: #212121;
  width: 100%;
  height: 58px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#home {
  padding: 4px 80px;
  background-color: black;
  height: 700px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
}

.navbar.navbar--dark {
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 64px;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.navbar__icon {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.navbar__icon.navbarIcon--red {
  color: #ff5252;
}

.navbar__name {
  font-size: 24px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu.navbarMenu--none {
  display: none;
}

.navbar__menu__item {
  padding: 8px 0;
  margin: 0 10px;
}

.navbar__menu__itembtn {
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.navbar__menu__itembtn.active {
  padding-bottom: 8px;
  border-bottom: 2px solid white;
}

.navbar__rightmenu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar__rightmenu__list {
  margin: 0 2px;
}

.navbar__rightmenu__host {
  font-weight: bold;
  padding: 16px 16px;
  color: white;
}

.navbar__rightmenu__host.navbarRightHost--black,
.navbar__rightmenu__globe.navbarRightGlobe--black {
  color: black;
}

.navbar__rightmenu__host:hover {
  background-color: #212121;
  border-radius: 24px;
}

.navbar__rightmenu__globe {
  padding: 16px 16px;
  color: white;
}

.navbar__rightmenu__globe:hover {
  background-color: #212121;
  border-radius: 50%;
}

.navbar__rightmenu__host:hover.navbarRightHost--black,
.navbar__rightmenu__globe:hover.navbarRightGlobe--black {
  background-color: lightgray;
  border-radius: 24px;
}

.navbar__rightmenu__toggle {
  display: block;
  font-size: 24px;
  background-color: white;
  color: black;
  border-radius: 24px;
  border: 1px solid lightgray;
  padding: 8px 16px;
}

.navbar__rogin {
  background-color: white;
  flex-direction: column;
  width: 80px;
  transform: translateX(1018px);
  border-radius: 8px;
  display: none;
}

.navbar__rogin button {
  font-weight: bold;
  padding: 4px;
  border-bottom: 1px solid lightgray;
}

.navbar__rogin.open {
  display: block;
  position: fixed;
}

.fa-user-circle {
  margin-left: 4px;
  color: gray;
}

.search {
  text-align: left;
  padding: 10px 99px 10px 24px;
}

.search:hover {
  background-color: lightgray;
  border-radius: 30px;
  padding: 10px 100px 10px 24px;
}

.search__line {
  margin-top: 10px;
  background-color: lightgray;
  width: 0.5px;
  height: 40px;
}

.search__title {
  font-weight: bold;
  color: black;
}

.search__input {
  color: gray;
}

.search__icon {
  margin: 8px;
  padding: 0 16px;
  font-size: 14px;
  color: white;
  border-radius: 50%;
  background-color: #ff5252;
}

.search__icon:hover {
  background-color: #ff1744;
}

.home__search {
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border-radius: 30px;
  width: 78%;
  height: 60px;
  margin: auto;
}

.home__searchchange {
  position: fixed;
  top: 15px;
  left: 480px;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 36px;
  background-color: white;
  z-index: 1;
}

.home__searchchange__start {
  margin: 14px 140px 14px 16px;
  font-weight: bold;
  font-size: 14px;
}

.home__searchchange i {
  margin: 4px;
  padding: 10px 10px;
  font-size: 14px;
  color: white;
  border-radius: 50%;
  background-color: #ff5252;
}

.smallsearch {
  display: none;
}

.home__center {
  margin-top: 36px;
}

.home__img {
  width: 100%;
  height: 490px;
}

.home__description {
  text-align: center;
  transform: translateY(-200px);
}

.home__imgsearch {
  background-color: white;
  display: block;
  margin: auto;
  transform: translateY(-210px);
  font-size: 20px;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 36px;
  color: #8e24aa;
}

#idea {
  padding: 50px 80px;
}

.idea__title {
  color: black;
  padding-bottom: 8px;
}

.idea__trip {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.idea__trip__list {
  width: 25%;
  padding: 0px;
}

.idea__trip__img {
  max-width: 100%;
  height: 180px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.idea__trip__city {
  height: 180px;
  color: white;
  text-align: left;
  padding: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  transform: translateY(-4px);
}

.idea__trip__distance {
  padding: 8px 0;
}

.idea__trip__city h1 {
  margin: 0;
  font-size: 26px;
}

#activity {
  padding: 0px 80px;
}

.activity__title {
  color: black;
}

.activity__first {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.activity__first__list {
  height: 860px;
}

.activity__first__list img {
  max-width: 100%;
  height: 800px;
  border-radius: 24px;
}

.activity__first__menu {
  color: white;
  transform: translateY(-850px);
  padding: 40px;
}

.activity__first__description {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 16px;
}

.activity__first__button {
  background-color: white;
  width: 80px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
}

.activity__second__button {
  background-color: white;
  width: 130px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
}

#answer {
  background: url(img/smile.jpg) center/cover no-repeat;
  max-width: 100%;
  height: 600px;
  padding: 70px;
}

.answer__description {
  color: white;
  font-size: 80px;
  font-weight: bold;
  margin-top: 0;
  line-height: 105%;
}

.answer__button {
  background-color: white;
  width: 250px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  transform: translateY(80px);
}

.scrollup {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar,
  .home__search,
  .home__searchchange {
    display: none;
  }

  #home {
    padding: 0;
    background-color: black;
  }

  .smallsearch {
    display: block;
    margin: 0px;
    background-color: white;
    padding: auto;
    width: 100%;
    height: 48px;
    border-radius: 24px;
  }

  .smallsearch.smallSearch--white {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    border-radius: 0;
    font-size: 18px;
  }

  .smallsearch i {
    margin: 0px;
    padding: 5px;
    font-size: 16px;
    border-radius: 50%;
    color: #ff5252;
  }

  .smallsearch__title {
    font-weight: bold;
  }

  .home__center {
    margin-top: 0;
  }

  .scrollup__navbar {
    display: flex;
    margin: auto;
    padding: 0;
  }

  .scrollup__navbar__item {
    padding: 10px 30px;
  }

  .scrollup__navbar__item i {
    font-size: 24px;
  }

  .scrollup__navbar__item div {
    padding-top: 4px;
    font-size: 10px;
  }

  .scrollup__navbar__item i:hover {
    color: #ff5252;
  }

  .scrollup.scrollup--up {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 65px;
  }

  #idea {
    padding: 16px 24px;
  }

  .idea__title,
  .activity__title {
    font-size: 24px;
  }

  .idea__trip {
  }

  .idea__trip__list {
  }

  #activity {
    padding: 16px 24px;
  }

  .activity__first {
    display: block;
  }

  .activity__first__list {
    width: 100%;
    height: 820px;
  }

  .activity__first__description {
    font-size: 30px;
  }

  #answer {
    padding: 30px;
  }

  .answer__description {
    font-size: 42px;
  }

  .answer__button {
    transform: translateY(320px);
  }
}
